main h1 {color: lightslategray; text-align: center;}
p {font-size: xx-large; color: lightslategray; text-align: center;}
li {color: lightslategray;
span img {width: 100px; height: 100px;}
div span img {width: 300px; height: 300px;}
form {font-size: x-large; color: lightslategray;}}
