* {margin: 0%}
body {font-family: 'Dancing Script', cursive; background-color: azure;
    .container-fluid {text-align: center; color: lightslategray;
        .texto {font-size: x-large; align-content: center;}}
    nav {font-size: xx-large; color: lightslategray; align-content: center;
        #navegador {color: lightslategray;}  }
    .bg-mio {background-color: rgb(255, 226, 236);}
}

section {h1 {color: lightslategray; text-align: center;}
h2, h3 {color:lightslategray;} #button {background-color: azure; color: lightslategray; font-size: x-large;}}

.redes {font-size: x-large; color: lightslategrey; text-align: center;}
.container {color: lightslategray;}

@import "estilostienda"

      
